<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Decoration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Decoration.Properties.Settings>
            <setting name="connstringM" serializeAs="String">
                <value>Data Source=MEPHI3-MSSQL;Initial Catalog=Trade_Koptsev;Integrated Security=True</value>
            </setting>
            <setting name="connstringW" serializeAs="String">
                <value>Data Source=K-441\SQLEXPRESS;Initial Catalog=Trade_Koptsev;Integrated Security=True</value>
            </setting>
            <setting name="connstring" serializeAs="String">
                <value>Data Source=laptop-l4r2kqnd;Initial Catalog=Trade_Koptsev;Integrated Security=True</value>
            </setting>
        </Decoration.Properties.Settings>
    </userSettings>
</configuration>
